<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="level1ReadData" value="C:\Users\USUARIO\Source\Repos\tech-interview\tech-interview\backend\level1\data.json" ></add>
    <add key="level2ReadData" value="C:\Users\USUARIO\Source\Repos\tech-interview\tech-interview\backend\level2\data.json" ></add>
    <add key="level3ReadData" value="C:\Users\USUARIO\Source\Repos\tech-interview\tech-interview\backend\level3\data.json" ></add>

    <add key="level1WriteData" value="C:\Users\USUARIO\Source\Repos\tech-interview\tech-interview\backend\level1\output.json" ></add>
    <add key="level2WriteData" value="C:\Users\USUARIO\Source\Repos\tech-interview\tech-interview\backend\level2\output.json" ></add>
    <add key="level3WriteData" value="C:\Users\USUARIO\Source\Repos\tech-interview\tech-interview\backend\level3\output.json" ></add>
  </appSettings>
</configuration>